<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'dashboard' in segment %} active {% endif %}" href="/dashboard">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">View donators</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/createpaddrive.html">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Add pad drive group</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/paddrivegrouplist.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">View  pad drive groups</span>
            </a>
          </li>

                
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">action zone</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" href="{}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>  
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>